.HeaderDiv {
    width: 74vw;
    height: 78vh;
    margin: 0 auto;
    white-space: nowrap;
}

.SelectBox {
    background-color: #E6F2F8;
    border: 1px solid #84BCDA;
    margin-left: 72%;
    width: 15vh;
}

.InputStyle {
    width: 19vh;
    height: 3vh;
    border: 1px solid #8CBAFF;
    border-radius: 5px;
    margin-left: 1%;
}

.ButtonStyle {
    width: 3vh;
    height: 3vh;
    background-color: #8CBAFF;
    margin-left: 0.5%;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.ButtonStyle2 {
    width: 10vh;
    height: 5vh;
    background-color: #8CBAFF;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #8CBAFF;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 83%;
    font-weight: 700;
}

.ButtonStyle3 {
    width: 10vh;
    height: 5vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #8CBAFF;
    border: 1px solid #8CBAFF;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 700;
}

.Image {
    width: 2.8vh;
    height: 2.8vh;
}

.centerDiv {
    display: flex;
}
