.mainWrapper {
    width: 74vw;
    height: 78vh;
    margin-left: 20vw;
    margin-top: 5vh;
}

.noticeCalendar {
    display: flex;
    justify-content: space-between;
}

.notice {
    border: 1px solid black;
    width: 50vw;
    height: 30vh;
}

.calendar {
    border: 1px solid black;
    width: 20vw;
}

.buttonWeather {
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    border: 1px solid black;
    width: 50vw;
    height: 30vh;
}

.weather {
    border: 1px solid black;
    width: 20vw;
}

.newsLecture{
    display: flex;
    justify-content: space-between;
}

.news {
    border: 1px solid black;
    width: 20vw;
    height: 30vh;
}

.lecture {
    border: 1px solid black;
    width: 50vw;
}