@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 100%;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.clear_fix::after, .clear_fix::before {
    content: "";
    display: block;
    clear: both;
}

#sideBar {
    width: 14vw;
    height: 100vh;
    background-color: #f9fafa;
    position: fixed;
}

#sideTop {
    margin-left: 1.2vw;
}

.sideBox {
    padding: 2.5vh;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    margin-top: 3.1vh;

}

#prof {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #FFA9B0;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: auto 0.4vw;
    box-sizing: border-box;
}


.sideTxt {
    padding-top: 0.1vw;
}


.sideTr {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #687482;
    padding: 2.1vh;


}

.sideTr:hover {
    background-color: #efefef;
    cursor: pointer;
}


.topName {
    display: block;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}

.topAuth {
    font-weight: normal;
    color: gray;
    font-size: 10pt
}


.sideTr img {
    width: 24px;
    margin-left: 0.75vw;
}

.sideTr span {
    width: 100px;
    margin-left: 1.05vw;
}

#sideBottom {
    margin-top: 21vh;
    margin-left: 1vw;
}

#sideBottom .logoutBox {
    width: 8vw;
    height: 4vh;
    border: 2px solid #8CBAFF;
    padding: 0.4vw;
    margin-left: 1vw;
    border-radius: 10px;
    background: white;
    text-decoration-line: none;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.logoutBox button {
    border: none;
    background-color: white;
    font-size: 15px;
    color: #8CBAFF;
    cursor: pointer;
}







