.mypageWrapper {
    width: 74vw;
    height: 78vh;
    margin-left: 20vw;
}

.profContainer {
    display: flex;
    margin-bottom: 3vw;
}

#prof {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: auto 0.4vw;
    box-sizing: border-box;
}

.info{
    margin-top: -10px;
    margin-left: 4vw;
    width: 20vw;
    height: 100px;
    line-height: 32px;
}

.name{
    font-size: 1.25rem;
}

.dept, .job{
    width: 3vw;
    color: gray;
    /* border: 1px solid blue;     */
}

.restWrap{
    /* display: flex; */
    /* display: inline-block; */
    width: 50vw;
    height: 10px;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
}

.state{
   
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.restBtn{
    width: 100px;
height: 3.2vh;
margin-bottom: 10vh;
background-color: #FFFFFF;
border-radius: 5px;
color: #8CBAFF;
border: 1px solid #8CBAFF;
cursor: pointer;
/* margin-top: -100vw; */
margin-left: 56vw;
}

.state span{
    color: #6cc667;
}

.privacyContainer ul , .hrContainer ul{
    margin: 1.5vw 0;
}

.privacy, .recordTit{
    width: 74vw;
    font-size: 1.1rem;
    padding-bottom: 0.8vw;
    border-bottom: 1px solid #ccc;
    
}

.privacyTit{
    margin-top: 5vw;
}

.phone, .email, .gender, .phone{
    color: gray;
    width: 11vw !important;
}

.btnWrap{
    text-align: center;
    margin-top: 5vw;
    padding-bottom: 1vw;

}

.btnWrap button{
    width: 11vh;
    height: 4vh;
    cursor: pointer;
    font-weight: 700;
}

.pwdBtn {
    background-color: #8CBAFF;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #8CBAFF;
    margin-right: 2vw;
  
}

.infoBtn {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #8CBAFF;
    border: 1px solid #8CBAFF;
    cursor: pointer;
   
}

.deptCode-DE0001 {
    background-color: #D8C5E2;
}

.deptCode-DE0002 {
    background-color: #FFA9B0;
}

.deptCode-DE0003 {
    background-color: #FFDDA6;
}

.deptCode-DE0004 {
    background-color: #C3C95E;
}

.deptCode-DE0005 {
    background-color: #D9B89A;
}







