.boardWrapper {
    width: 74vw;
    height: 78vh;
    margin-left: 20vw;
}

.topline {
    border-top: 1px lightgray solid;
    margin-top: 3vh;
    margin-right: 1vw;
}

.mainContent {
    border-bottom: 1px lightgray solid;
    margin-right: 1vw;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.mainContent:hover {
    background-color: #eee;
    cursor: pointer;
}

#prof {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #D8C5E2;
    color: white;
    text-align: center;
    margin: auto 0.4vw;
    margin-right: 1.3vw;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-size: 12pt;

}

.wrapper {
    display: flex;
}

.wrapper li {
    justify-content: space-between;
}

.title {
    font-size: 12pt;
    width: 15vw;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    font-size: 10pt;
    margin-left: 2vw;
}

.writer {
    font-size: 10pt;
    padding-bottom: 0.8vh;
}

.dept {
    font-size: 10pt;
}

.job {
    font-size: 10pt;
}

.content {
    font-size: 10pt;
    color: gray;
    width: 16vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.boardImg {
    width: 1vw;
}

.allowImg {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-bottom: 0.2vw;
    width: 0.3vw;
}

.boardBtn {
    width: 8vw;
    height: 2vw;
    color: #fff;
    font-size: 1.2rem;
    background-color: #8CBAFF;
    border: none;
    border-radius: 5px;
    margin-left: 65vw;
    cursor: pointer;
}

.paging {
    margin-bottom: -6vh;
}

.deptCode-DE0001 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #D8C5E2;
    color: white;
    text-align: center;
    margin: auto 0.4vw;
    margin-right: 1.3vw;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-size: 12pt;
    background-color: #D8C5E2;
}

.deptCode-DE0002 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #D8C5E2;
    color: white;
    text-align: center;
    margin: auto 0.4vw;
    margin-right: 1.3vw;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-size: 12pt;
    background-color: #FFA9B0;
}

.deptCode-DE0003 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #D8C5E2;
    color: white;
    text-align: center;
    margin: auto 0.4vw;
    margin-right: 1.3vw;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-size: 12pt;
    background-color: #FFDDA6;
}

.deptCode-DE0004 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #D8C5E2;
    color: white;
    text-align: center;
    margin: auto 0.4vw;
    margin-right: 1.3vw;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-size: 12pt;
    background-color: #C3C95E;
}

.deptCode-DE0005 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #D8C5E2;
    color: white;
    text-align: center;
    margin: auto 0.4vw;
    margin-right: 1.3vw;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-size: 12pt;
    background-color: #D9B89A;
}
