.boardWrapper {
    width: 74vw;
    height: 78vh;
    margin-left: 20vw;
}


.title {
    margin-left: 1vw;
    width: 50vw;
    font-size: 17pt;
}

.titleModify {
    margin-left: 1vw;
    width: 50vw;
    font-size: 17pt;
    border: 1px gray solid;
    border-radius: 10px;
}

.date {
    font-size: 13pt;
    margin-left: 1vw;
}

.maintext {
    margin-top: 1vh;
    margin-left: 1vw;
    width: 71.5vw;
    height: 50vh;
    resize: none;
    border: none;
    outline: none;
}

.maintextModify {
    margin-top: 1vh;
    margin-left: 1vw;
    width: 71.5vw;
    height: 50vh;
    resize: none;
    border: 1px gray solid;
    border-radius: 10px;
    outline: none;

}

.characterCount {
    margin-left: 68vw;
}

.file {
    margin-top: 0.7vh;
}

.fileNone {
    margin-top: 0.7vh;
}

.file:hover {
    color: gray;
    text-decoration: underline;
}

.fileImgg {
    width: 1vw;
    margin-top: 0.3vh;
    margin-right: 0.5vw;
}


.maincontent {
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    margin-right: 1vw;
    margin-top: 1vh;
    padding-bottom: 1vh;
}

.job{
    padding-top: 0.2vh;
    font-size: 10pt;
    color: gray;
}
.btn {
    margin-left: 28vw;
}

#deptCode {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin: auto 0.4vw;
    margin-right: 1.3vw;
    box-sizing: border-box;
    padding-top: 1.5vh;
    font-size: 12pt;
}

.deptCode-DE0001 {
    background-color: #D8C5E2;
}

.deptCode-DE0002 {
    background-color: #FFA9B0;
}

.deptCode-DE0003 {
    background-color: #FFDDA6;
}

.deptCode-DE0004 {
    background-color: #C3C95E;
}

.deptCode-DE0005 {
    background-color: #D9B89A;
}

.updateBtn {
    border-radius: 0.5rem;
    border: 1px solid  #8CBAFF;
    width: 7rem;
    height: 3rem;
    font-weight: bold;
    font-size: 13pt;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    text-align: center;
    color: white;
    background-color: #8CBAFF;
    cursor: pointer;
}

.deleteBtn {
    border-radius: 0.5rem;
    border: 1px solid  #8CBAFF;
    width: 7rem;
    height: 3rem;
    font-weight: bold;
    font-size: 13pt;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.custom-confirm-button {
    background-color: #8CBAFF !important;
    color: white;
    margin-top: 45px;
    margin-bottom: 5px;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #8CBAFF;
    margin-left: 30px
}

.custom-cancel-button {
    background-color: #DADADA !important;
    color: white;
    margin-top: 45px;
    margin-bottom: 5px;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #DADADA;
}

.custom-success-button {
    background-color: #8CBAFF !important;
    color: white;
    margin-top: 45px;
    margin-bottom: 5px;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid #8CBAFF;
    outline: none;
}