.mainContainer {
    width: 50%;
    max-width: 50%;
    height: 78vh;
    max-height: 78vh;
    margin-left: 20vw;
    float: left;
    display: inline;
}

.subContainer {
    float: right;
    margin-right: 2.4%;
    width: 520px;
    border-collapse: separate;
    border-spacing: 1vh;
    text-align: center;
    display: flex;
    flex-flow: wrap;
}

.insertButton {
    width: 10vh;
    height: 5vh;
    background-color: #8CBAFF;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin-top: 2%;
    margin-left: 90%;
}

.sortButton {
    margin-top: 1%;
    padding: 2px;
    background-color: #8CBAFF;
    border-radius: 5px;
    height: 4vh;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: 18%;
}

.sortButton1 {
    margin-top: 1%;
    padding: 2px;
    background-color: rgb(111, 171, 124);
    border-radius: 5px;
    height: 4vh;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: 18%;
}

.deleteButton {
    margin-top: 1%;
    padding: 2px;
    background-color: #8CBAFF;
    border-radius: 5px;
    height: 4vh;
    width: 64px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: 89%;
}

.calendarTable {
    margin-left: 8%;
    width: 500px;
    max-width: 500px;
    border-collapse: separate;
    border-spacing: 3vh;
    text-align: center;
}

.calendarThead {
    line-height: 7vh;
    font-size: 1.75rem;
}

.calendarTbody {
    white-space: nowrap;
}

.calendarTr {
    height: 20px;
    min-height: 20px;
    max-height: 20px;
}

.calendarTr td:first-child {
    width: 185px;
}

.calendarTr td:last-child {
    width: 232px;
    max-width: 232px;
    min-width: 232px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
}

.calendarTr:hover {
    cursor: pointer;
}

.checkBox {
    display: flex;
    width: 1.5vh;
    height: 2vh;
}