.productDiv {
    list-style-type: none;
    display: flex;
    justify-Content: center;
    margin: 29% 33% 0 14%;
    height: 50px;
    position: absolute;
}

.pagingBtn {
    color: #535353;
    border: 0;
    margin: 5px;
    background-color: white;
}

.pagingBtn:hover {
    cursor: pointer;
    background-color: burlywood;
}

.productWrap {
    display: flex;
    align-items: center;
}
