.off-wrapp {
    width: 74vw;
    height: 78vh;
    margin-left: 20vw;
    /* border: 1px solid red;*/
}

.off-menu-bar {
    margin-bottom: 3.5vw;
}

.off-menu {
    display: inline-block;
    margin-left: 2vw;
    font-size: 1.2rem;
}

/* 연차 신청 버튼 */
.applyOffBtn {
    width: 8vw;
    height: 2vw;
    color: #fff;
    font-size: 1.2rem;
    background-color: #8CBAFF;
    border: none;
    border-radius: 5px;
    margin-top: 0.8vw;
    margin-left: 66vw;
    cursor: pointer;
}

/*연차 현황 구역*/
.my-off-now {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20vw;
    margin-bottom: 5.5vw;
}

.offNowList {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.offNowList div {
    font-size: 3rem;
    margin-bottom: 2vw;
}

.comingup-title {
    font-size: 1.25rem;
    margin-left: 3vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
    cursor: pointer;
}

/* 날짜 검색창 */


.off-search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2vw;
}

.off-searchYear {
    margin-right: 1vw;
    border: 2px solid #8CBAFF !important;
    border-radius: 5px;
    width: 7vw;
    height: 2vw;
    text-align: center;
    color: #424242;
}

.off-SearchBtn {
    width: 2vw;
    height: 2vw;
    background-color: #8CBAFF;
    padding-left: 0.2vw;
    border-radius: 5px;
    border: 3px solid #8CBAFF !important;
    cursor: pointer;
}

.off-SearchBtn > img {
    width: 1.5vw;
    height: 1.5vw;
}