
/* 표 스타일 */
.absDiv {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 3vw;
  }

  .absDiv th,
  .absDiv td {
    border: 1px solid #ddd;
    padding: 8px;
   height: 5vh;
  }

