.tableStyle {
    margin-top: 5vh;
    border-collapse: separate;
    border-spacing: 0;
}

.trStyle th {
    background-color: #E5E5E5;
    border: 1px solid #828282;
    width: 25vh;
    height: 5vh;
}

.trStyle :first-child {
    border-top-left-radius: 8px;
}

.trStyle :last-child {
    border-top-right-radius: 8px;
}

.BodyTrStyle th {
    background-color: #FFFFFF;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
    border-bottom: 1px solid #828282;
    width: 25vh;
    max-width: 25vh;
    height: 10vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

