.tableStyle {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 3vw;
}

.trStyle th {
    width: 25vh;
    height: 5vh;
}


.BodyTrStyle th {
    /* width: 25vh; */
    max-width: 25vh;
    padding: 10px;
    height: 10vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}


.tableStyle th,
.tableStyle tr {
    border: 1px solid #ddd;
    padding: 8px;
    height: 5vh;
}

.BodyTrStyle tr:hover {
    background-color: #eeeeee;
}
