
.td-img {
    width: 3vw;
}

.td-div {
    width: 6vw;
}


.td-end {
    width: 6vw;
}

.td-day {
    width:  18vw;
    color: #828282;
}

.offDivImg {
    width: 1vw;
    
}

.td-signStatus {
    border: 1px solid ;
    border-radius: 5px;
    color: white;
    padding: 0.4vw;
    font-size: 0.9rem;
}

.td-cancel {
    padding-left: 5vw;
}

.offcancel {
    color : #222222;
    border: 0.1vw solid #222222;
    border-radius: 5px;
    background-color: white;
    padding: 0.2vw;
    cursor: pointer;
}