.HeaderDiv {
    width: 74vw;
    height: 78vh;
    white-space: nowrap;
    margin-left: 25%;
}

.HeaderDiv h1 {
    font-size: 25px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.TopDiv {
    width: 60vw;
    border: 1px solid #F9FAFA;
}

.TopDiv h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 2% 0 0 3%;
}

.TopDiv h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 3% 0 0 3%;
}

.textInput {
    background-color: #FFFFFF;
    width: 100%;
    height: 2vw;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto 3% auto;
    text-align: center;
    resize: none;
}

.textInput2 {
    background-color: #FFFFFF;
    width: 100%;
    height: 2vw;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto 3% auto;
    resize: none;
}

.textInput3 {
    background-color: #FFFFFF;
    width: 100%;
    height: 2vw;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto 3% auto;
    text-align: center;
    resize: none;
}

.textInput4 {
    background-color: #FFFFFF;
    width: 100%;
    height: 2vw;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto 3% auto;
    resize: none;
}

.textInput5 {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
    padding: 2vh;
    display: flex;
    text-align: center;
    margin: 1% auto 3% auto;
    resize: none;
}

.textInput6 {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
    display: flex;
    padding: 2vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1% auto 3% auto;
    resize: none;
}

.selectBox {
    background-color: #FFFFFF;
    width: 100%;
    height: 2vw;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto 3% auto;
    text-align: center;
    resize: none;
}


.MiddleBody {
    border-spacing: 5vh;
    width: 60vw;
    border: 1px solid #FFFFFF;
    justify-content: center;
}

.ThTag {
    width: 12vh;
}

.MiddleBodyDiv {
    width: 90vh;
    height: 2vw;
    background-color: #FFFFFF;
    text-align: center;
}

.MiddleBody input {
    background-color: #FFFFFF;
    text-align: center;
}

.MiddleBody2 {
    margin-top: 10%;
    text-align: center;
    width: 60vw;
    height: 10vw;
    max-width: 1075px;
    background-color: #FFFFFF;
    margin-left: 5%;
}

.MiddleTh {
    width: 12vh;
}

.MiddleTd {
    max-width: 1075px;
    background-color: #FFFFFF;
    margin-left: 5%;
}

.BottomTd {
    margin-top: 10%;
    text-align: center;
    height: 20vw;
    width: 60vw;
    max-width: 1075px;
    background-color: #FFFFFF;
    margin-left: 5%;
    border: 1px solid #8CBAFF;
    border-radius: 10px;
}

.BottomSpan {
    margin-left: 11%;
    padding-top: 3%;
}

.BottomSpan2 {
    margin-left: 9.5%;
    padding-top: 3%;
}

.centerDiv {
    margin-left: 30%;
    margin-top: 5%;
}

.ButtonStyle2 {
    width: 10vh;
    height: 5vh;
    background-color: #8CBAFF;
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid #8CBAFF;
    cursor: pointer;
    font-weight: 700;
    margin: 0 0 10% 5%;
}

.ButtonStyle3 {
    width: 10vh;
    height: 5vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #8CBAFF;
    border: 1px solid #8CBAFF;
    cursor: pointer;
    margin-left: 2.7%;
    font-weight: 700;
}

