.HeaderDiv {
    width: 74vw;
    height: 78vh;
    margin: 0 auto;
    white-space: nowrap;
}

.TopDiv {
    width: 60vw;
    border: 1px solid #C5C5C5;
}

.TopDiv h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 3%;
}

.TopDiv h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 3%;
}

.TopDivBox {
    background-color: #E4FBFB;
    width: 50vw;
    height: 5vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto 0 auto;
}